@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Koh+Santepheap&display=swap');

* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* body{
  min-height: 100vh;
  background-size: cover;
  background-position: center;
} */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background-color: #4e4d609f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
  
  .logoprinc {
    height: 80px;
  }
  
  .navbar a {
    position: relative;
    font-size: 18px;
    color: aliceblue;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
  }
  
  .navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: aliceblue;
    transition: .3s;
  }
  
  .navbar a:hover::before {
    width: 100%;
  }

  .conterntitle{
    background: url(https://wallpaper.dog/large/10887941.jpg) no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    border: red solid 2px;
    height: 100vh;
  }

.titlegrand{
  position: absolute;
  top: 72%;
  width: 100%;
}

.titlegrand h1 {
  text-align: center;
  font-size: 5rem;
  color: aliceblue;
}




