@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Koh+Santepheap&family=Phudu&display=swap');

* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  min-height: 100vh;
  background: url(imagens/cruz\ marrom.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  /* border: blue solid 3px; */
  height: 70vh;
  position: relative;
  top: 6rem;
}

.titlegrand {
  /* border: red solid 3px; */
  position: absolute;
  top: 30%;
  left: 5%;
}

.titlegrand h1 {
  font-size: 80px;
  font-family: 'Phudu', cursive;
  color: aliceblue;
}

.titlegrand span {
  color: red;
}

.contefamilia {
  top: 360px;
  position: relative;
  height: 360px;
  /* border: blueviolet solid 4px; */
}

.texfamilia {
  position: absolute;
  /* border: red solid 3px; */
  top: 15%;
  left: 10%;
}

.texfamilia h1 {
  color: #CB0000;
  font-size: 45px;
  font-family: 'Phudu', cursive;
}

.paragrafamilia {
  position: absolute;
  /* border: black solid 3px; */
  left: 48%;
  top: 10%;
}

.paragrafamilia p {
  font-size: 33px;
  font-family: 'Phudu', cursive;
  text-align: center;
  margin-right: 10px;
}


.containercards{
position: relative;
top: 18rem;
display: flex;
justify-content: space-around;
}





/* <!------------> */


.containerfoter {
  position: relative;
  top: 20rem;
  height: 20rem;
  background-color: #3F4359;
}

.blockfoter {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.ladodireito {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  align-items: center;
}

.ladodireito p {
  color: aliceblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 5px;
}

.ladodireito img {
  width: 14rem;
}

.meio {
  display: flex;
  align-items: end;
}

.meio img {
  width: 40px;
  margin: 10px;

}

.ladoesquerdo {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  text-align: center;
  margin-top: 8rem;
}

.ladoesquerdo p {
  color: aliceblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
}