@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Koh+Santepheap&display=swap');

* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}



body {
  min-height: 100vh;
  background: url(https://static.cdn.pleno.news/2018/03/people-2604829_1280.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 100px;
  background-color: #4e4d609f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logoprinc {
  height: 80px;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: aliceblue;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: aliceblue;
  transition: .3s;
}

.navbar a:hover::before {
  width: 100%;
}

.container {
  /* border: blue solid 3px; */
  height: 70vh;
  position: relative;
  top: 6rem;
}

.titlegrand {
  /* border: red solid 3px; */
  position: absolute;
  top: 30%;
  left: 5%;
}

.titlegrand h1 {
  font-size: 80px;
  font-family: Koh Santepheap;
  color: rgb(172, 101, 101);
}

.titlegrand span {
  color: red;
}

.contefamilia {
  top: 360px;
  position: relative;
  height: 360px;
  /* border: blueviolet solid 4px; */
}

.texfamilia {
  position: absolute;
  /* border: red solid 3px; */
  top: 15%;
  left: 10%;
}

.texfamilia h1 {
  color: #CB0000;
  font-size: 45px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.paragrafamilia {
  position: absolute;
  /* border: black solid 3px; */
  left: 48%;
  top: 10%;
}

.paragrafamilia p {
  font-size: 33px;
  font-family: Koh Santepheap;
}

.sobreaigreja {
  background-color: cadetblue;
  position: relative;
  top: 20rem;
  display: flex;
  justify-content: space-around;
}

.containcard{
  display: flex;
  justify-content: space-around;
}

.containcard img{
  width: 24rem;
  margin: 10px;
}

.containcard p {
 color: #ffffff;
 font-size: 31px;
 text-align: center;
}

/* <!------------> */


.containerfoter {
  position: relative;
  top: 20rem;
  height: 20rem;
  background-color: #3F4359;
}

.blockfoter {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.ladodireito {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  align-items: center;
}

.ladodireito p {
  color: aliceblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 5px;
}

.ladodireito img {
  width: 14rem;
}

.meio {
  display: flex;
  align-items: end;
}

.meio img {
  width: 40px;
  margin: 10px;

}

.ladoesquerdo {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  text-align: center;
  margin-top: 8rem;
}

.ladoesquerdo p {
  color: aliceblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
}